{% extends 'base.html' %}

{% block title %}    
  Купить {{ item.name }}
{% endblock %}

{% block content %}
<article>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <h1>{{ item.name }}</h1>
      <p>{{ item.description }}</p>
      <p>Стоимость: {{ item.price }}</p>
      <button id="buy-button">Купить</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script type="text/javascript">
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var buyButton = document.getElementById('buy-button');
        buyButton.addEventListener('click', function() {
          fetch('{% url 'payment:item_checkout_session' id=item.id %}', {method: 'GET'})
          .then(function (response) {
            return response.json();
          })
          .then(function (session) {
            return stripe.redirectToCheckout({ sessionId: session.sessionId });
          })
        });
      </script>
    </div>
  </div>
</article>
{% endblock %} 